<p>In this example we show fixed placeholder when a value is selected. Use material theme to see it in action.</p>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="is-fixed" [(ngModel)]="isPlaceholderFixed">
    <label class="form-check-label" for="is-fixed">
        Set Placehoder Fixed / Unfixed
    </label>
</div>

<div class="mt-3">
    <ng-select
        placeholder="Select City"
        [fixedPlaceholder]="isPlaceholderFixed"
    >
        <ng-option [value]="'bari'">Bari</ng-option>
        <ng-option [value]="'paris'">Paris</ng-option>
    </ng-select>

</div>



