<p>In this example we show fixed placeholder when a value is selected. Use material theme to see it in action.</p>

<div class="form-check">
	<input [(ngModel)]="isPlaceholderFixed" class="form-check-input" id="is-fixed" type="checkbox" value="" />
	<label class="form-check-label" for="is-fixed"> Set Placeholder Fixed / Unfixed </label>
</div>

<div class="mt-3">
	<ng-select [fixedPlaceholder]="isPlaceholderFixed" placeholder="Select City">
		<ng-option [value]="'bari'">Bari</ng-option>
		<ng-option [value]="'paris'">Paris</ng-option>
	</ng-select>
</div>
