<p>Use <b>typeahead</b> to subscribe to search term and load async items.</p>
<label>Multi select + Typeahead + Custom items (tags)</label>

<ng-select [items]="people$ | async"
           bindLabel="name"
           [addTag]="true"
           [multiple]="true"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="peopleLoading"
           typeToSearchText="Please enter 2 or more characters"
           [typeahead]="peopleInput$"
           [(ngModel)]="selectedPersons">
</ng-select>
<br>

<div style="margin-bottom:100px">
    Selected persons: {{selectedPersons | json}}
</div>
