<p>Select multiple elements using custom templates with checkboxes</p>

<ng-select
    [items]="people"
    [multiple]="true"
    bindLabel="name"
    groupBy="gender"
    [selectableGroup]="true"
    [closeOnSelect]="false"
    bindValue="id"
    [(ngModel)]="selectedPeople">
    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.gender | uppercase}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
    </ng-template>
</ng-select>

<br>
<small>{{selectedPeople | json}}</small>
