<p>Custom template for each selected item using <b>ng-label-tmp</b></p>

<ng-select
    [items]="githubUsers$ | async"
    [multiple]="true"
    bindLabel="login"
    bindValue="login"
    [(ngModel)]="selectedUsers">

    <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span class="ng-value-label"><img [src]="item.avatar_url" width="20px" height="20px"> {{item.login}}</span>
        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
        <img [src]="item.avatar_url" width="20px" height="20px"> {{item.login}}
    </ng-template>
</ng-select>
