@import 'mixins';
@use 'sass:color';

// Define SCSS variables
$ng-select-highlight: #40a9ff !default;
$ng-select-primary-text: rgba(0, 0, 0, 0.65) !default;
$ng-select-disabled-text: rgba(0, 0, 0, 0.25) !default;
$ng-select-disabled-bg: #f5f5f5 !default;
$ng-select-border: #d9d9d9 !default;
$ng-select-bg: #ffffff !default;
$ng-select-selected: rgba(24, 144, 255, 0.2) !default;
$ng-select-marked: #e6f7ff !default;

// Define CSS variables in :root
:root {
	--ng-select-highlight: #{$ng-select-highlight};
	--ng-select-primary-text: #{$ng-select-primary-text};
	--ng-select-disabled-text: #{$ng-select-disabled-text};
	--ng-select-disabled-bg: #{$ng-select-disabled-bg};
	--ng-select-border: #{$ng-select-border};
	--ng-select-bg: #{$ng-select-bg};
	--ng-select-selected: #{$ng-select-selected};
	--ng-select-marked: #{$ng-select-marked};
}

.ng-select {
	position: relative;
	&.ng-select-opened {
		&.ng-select-clearable .ng-select-container.ng-has-value:hover {
			.ng-clear-wrapper {
				opacity: 0;
				pointer-events: none;
			}
			.ng-arrow-wrapper {
				opacity: 1;
				pointer-events: auto;
			}
		}

		> .ng-select-container {
			background: var(--ng-select-bg, $ng-select-bg);
			border-color: var(--ng-select-highlight, $ng-select-highlight);
			box-shadow: 0 0 0 2px var(--ng-select-selected, $ng-select-selected);
			.ng-arrow-wrapper {
				transform: rotate(180deg);
				opacity: 1;
				@include rtl {
					transform: rotate(-180deg);
				}
			}
		}
	}
	&.ng-select-focused {
		&:not(.ng-select-opened) > .ng-select-container {
			border-color: var(--ng-select-highlight, $ng-select-highlight);
			box-shadow: 0 0 0 2px var(--ng-select-selected, $ng-select-selected);
		}
	}
	&.ng-select-disabled {
		> .ng-select-container {
			background-color: var(--ng-select-disabled-bg, $ng-select-disabled-bg);
			color: var(--ng-select-disabled-text, $ng-select-disabled-text);
		}
	}
	.ng-has-value .ng-placeholder {
		display: none;
	}
	&.ng-select-clearable .ng-select-container.ng-has-value:hover {
		.ng-clear-wrapper {
			opacity: 1;
			pointer-events: auto;
		}
	}
	.ng-select-container {
		color: var(--ng-select-primary-text, $ng-select-primary-text);
		background-color: var(--ng-select-bg, $ng-select-bg);
		border: 1px solid var(--ng-select-border, $ng-select-border);
		border-radius: 4px;
		min-height: 36px;
		display: flex;
		align-items: center;
		&:hover {
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
		}
		.ng-value-container {
			display: flex;
			align-items: center;
			padding-left: 10px;
			@include rtl {
				padding-right: 10px;
				padding-left: 0;
			}
			.ng-placeholder {
				color: rgba(0, 0, 0, 0.4);
			}
		}
	}
	&.ng-select-single {
		.ng-select-container {
			height: 36px;
			.ng-value-container {
				.ng-input {
					color: #000000;
				}
			}
		}
	}
	&.ng-select-multiple {
		&.ng-select-disabled {
			> .ng-select-container .ng-value-container .ng-value {
				background-color: var(--ng-select-disabled-bg, $ng-select-disabled-bg);
				border: 1px solid color.scale($ng-select-border, $lightness: 10);
				.ng-value-label {
					color: var(--ng-select-primary-text, $ng-select-primary-text);
				}
			}
		}
		.ng-select-container {
			.ng-value-container {
				padding-top: 5px;
				padding-left: 7px;
				@include rtl {
					padding-right: 7px;
					padding-left: 0;
				}
				.ng-value {
					background-color: var(--ng-select-selected, $ng-select-selected);
					color: var(--ng-select-primary-text, $ng-select-primary-text);
				}
				.ng-input {
					color: #000000;
				}
				.ng-placeholder {
					color: rgba(0, 0, 0, 0.4);
				}
			}
		}
	}
	.ng-clear-wrapper {
		color: color.scale($ng-select-border, $blackness: 20);

		&:hover .ng-clear {
			color: #d0021b;
		}
		&:focus .ng-clear {
			color: #d0021b;
		}
		&:focus {
			outline: none;
		}
	}
	.ng-spinner-zone {
		padding: 5px 5px 0 0;
		@include rtl {
			padding: 5px 0 0 5px;
		}
	}
	.ng-arrow-wrapper {
		width: 25px;
		padding-right: 5px;
		@include rtl {
			padding-left: 5px;
			padding-right: 0;
		}
		&:hover {
			.ng-arrow {
				border-top-color: color.scale($ng-select-border, $blackness: 40);
			}
		}
		.ng-arrow {
			border-color: color.scale($ng-select-border, $blackness: 20) transparent transparent;
			border-style: solid;
			border-width: 5px 5px 2.5px;
		}
	}
}

.ng-dropdown-panel {
	background-color: var(--ng-select-bg, $ng-select-bg);
	border: 1px solid var(--ng-select-border, $ng-select-border);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	left: 0;
	&.ng-select-top {
		bottom: 100%;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-color: color.scale($ng-select-border, $lightness: 10);
		margin-bottom: -1px;
		.ng-dropdown-panel-items {
			.ng-option {
				&:first-child {
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
				}
			}
		}
	}
	&.ng-select-right {
		left: 100%;
		top: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-color: color.scale($ng-select-border, $lightness: 10);
		margin-bottom: -1px;
		.ng-dropdown-panel-items {
			.ng-option {
				&:first-child {
					border-top-right-radius: 4px;
				}
			}
		}
	}
	&.ng-select-bottom {
		top: 100%;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-color: color.scale($ng-select-border, $lightness: 10);
		margin-top: -1px;
		.ng-dropdown-panel-items {
			.ng-option {
				&:last-child {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
		}
	}
	&.ng-select-left {
		left: -100%;
		top: 0;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-color: color.scale($ng-select-border, $lightness: 10);
		margin-bottom: -1px;
		.ng-dropdown-panel-items {
			.ng-option {
				&:first-child {
					border-top-left-radius: 4px;
				}
			}
		}
	}
	.ng-dropdown-header {
		border-bottom: 1px solid var(--ng-select-border, $ng-select-border);
		padding: 5px 7px;
	}
	.ng-dropdown-footer {
		border-top: 1px solid var(--ng-select-border, $ng-select-border);
		padding: 5px 7px;
	}
	.ng-dropdown-panel-items {
		.ng-optgroup {
			user-select: none;
			padding: 8px 10px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.54);
			cursor: pointer;
			&.ng-option-disabled {
				cursor: default;
			}
			&.ng-option-marked {
				background-color: var(--ng-select-marked, $ng-select-marked);
			}
			&.ng-option-selected,
			&.ng-option-selected.ng-option-marked {
				color: rgba(0, 0, 0, 0.54);
				background-color: var(--ng-select-selected, $ng-select-selected);
				font-weight: 600;
			}
		}
		.ng-option {
			background-color: var(--ng-select-bg, $ng-select-bg);
			color: rgba(0, 0, 0, 0.87);
			padding: 8px 10px;
			&.ng-option-selected,
			&.ng-option-selected.ng-option-marked {
				color: var(--ng-select-primary-text, $ng-select-primary-text);
				background-color: var(--ng-select-selected, $ng-select-selected);
				.ng-option-label {
					font-weight: 600;
				}
			}
			&.ng-option-marked {
				background-color: var(--ng-select-marked, $ng-select-marked);
				color: var(--ng-select-primary-text, $ng-select-primary-text);
			}
			&.ng-option-disabled {
				color: rgba(0, 0, 0, 0.25);
				cursor: not-allowed;
			}
			&.ng-option-child {
				padding-left: 22px;
				@include rtl {
					padding-right: 22px;
					padding-left: 0;
				}
			}
			.ng-tag-label {
				font-size: 80%;
				font-weight: 400;
				padding-right: 5px;
				@include rtl {
					padding-left: 5px;
					padding-right: 0;
				}
			}
		}
	}
	@include rtl {
		direction: rtl;
		text-align: right;
	}
}
