<p>Select multiple elements with a limit number of selections (e.g.: 3), but allow to open the menu if the limit is reached</p>

<div class="alert alert-warning mb-2" *ngIf="selectedPeople.length === 3 && select.focused">
    <small>Max selection reached</small>
</div>

<ng-select
    #select
    [items]="people$ | async"
    [multiple]="true"
    [maxSelectedItems]="3"
    bindLabel="name"
    [closeOnSelect]="false"
    [openOnMaxItemsSelected]="true"
    [(ngModel)]="selectedPeople">
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            <span class="ng-value-label">{{item.name}}</span>
            
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
        </div>
    </ng-template>
</ng-select>

<div class="mt-3">
    Selected value: <br/>
    <ul>
        <li *ngFor="let item of selectedPeople">{{item.name}}</li>
    </ul>
    <button (click)="clearModel()" class="btn btn-secondary btn-sm">Clear model</button>
</div>
