<div [class.ng-has-value]="hasValue"
     class="ng-select-container"
     [attr.role]="multiple ? 'listbox' : null"
     [attr.aria-orientation]="multiple ? 'horizontal' : null"
     [attr.aria-haspopup]="multiple ? 'listbox' : null"
     [attr.aria-multiselectable]="multiple ? 'true' : null"
     [attr.aria-labelledby]="multiple ? labelForId : null"
     [tabIndex]="(multiple && selectedItems.length > 0 && !focusedTag) ? 0 : -1"
     (focus)="onWidgetFocus()"
     (mousedown)="handleMousedown($event)">
    <div class="ng-value-container">
        <div class="ng-placeholder" aria-hidden="true">{{placeholder}}</div>

        <ng-container *ngIf="((multiple && !multiLabelTemplate) || !searchable) && selectedItems.length > 0">
            <div #tag *ngFor="let item of selectedItems"
                 [class.ng-value-disabled]="item.disabled"
                 [attr.aria-disabled]="item.disabled"
                 class="ng-value"
                 tabindex="-1"
                 role="option"
                 aria-selected="true"
                 (blur)="onTagBlur($event)"
                 [id]="item.htmlId">
                <ng-template #defaultLabelTemplate>
                    <span class="ng-value-icon ng-icon-button left" (click)="unselect(item);" aria-hidden="true">×</span>
                    <span class="ng-value-label">{{item.label}}</span>
                </ng-template>

                <ng-template
                    [ngTemplateOutlet]="labelTemplate || defaultLabelTemplate"
                    [ngTemplateOutletContext]="{ item: item.value, clear: clearItem, label: item.label }">
                </ng-template>
            </div>
        </ng-container>

        <ng-template *ngIf="multiLabelTemplate && selectedValues.length > 0"
                     [ngTemplateOutlet]="multiLabelTemplate"
                     [ngTemplateOutletContext]="{ items: selectedValues, clear: clearItem }">
        </ng-template>

        <div class="ng-input">
            <input #filterInput
                   type="text"
                   [attr.autocomplete]="labelForId ? 'off' : dropdownId"
                   [attr.placeholder]="(!multiple || !searchable) ? placeholder : (hasValue ? '' : placeholder)"
                   [attr.id]="labelForId"
                   [attr.tabindex]="tabIndex"
                   [readOnly]="!searchable"
                   [disabled]="disabled"
                   [value]="filterValue ? filterValue : ''"
                   (input)="filter(filterInput.value)"
                   (focus)="onInputFocus($event)"
                   (blur)="onInputBlur($event)"
                   (change)="$event.stopPropagation()"
                   role="combobox"
                   aria-autocomplete="list"
                   [attr.aria-expanded]="isOpen"
                   [attr.aria-owns]="isOpen ? dropdownId : null"
                   [attr.aria-activedescendant]="isOpen ? itemsList?.markedItem?.htmlId : null">
        </div>
    </div>

    <div class="ng-spinner-loader" *ngIf="loading"></div>

    <span *ngIf="showClear()" class="ng-clear-wrapper">
        <button class="ng-icon-button ng-clear-button"
                title="{{clearAllText}}"
                (keydown.enter)="$event.preventDefault(); $event.stopPropagation(); handleClearClick();"
                (keydown.space)="$event.preventDefault(); $event.stopPropagation(); handleClearClick();">
            <span class="ng-clear" aria-hidden="true">×</span>
        </button>
    </span>

    <span class="ng-arrow-wrapper">
        <button class="ng-icon-button ng-arrow-button"
                title="{{toggleDropdownText}}"
                (keydown.enter)="$event.preventDefault(); $event.stopPropagation(); handleArrowClick();"
                (keydown.space)="$event.preventDefault(); $event.stopPropagation(); handleArrowClick();">
            <span class="ng-arrow" aria-hidden="true"></span>
        </button>
    </span>
</div>

<ng-dropdown-panel *ngIf="isOpen"
    class="ng-dropdown-panel"
    [virtualScroll]="virtualScroll"
    [bufferAmount]="bufferAmount"
    [appendTo]="appendTo"
    [position]="dropdownPosition"
    [headerTemplate]="headerTemplate"
    [footerTemplate]="footerTemplate"
    [filterValue]="filterValue"
    [items]="itemsList.filteredItems"
    [markedItem]="itemsList.markedItem"
    (update)="viewPortItems = $event"
    (scroll)="scroll.emit($event)"
    (scrollToEnd)="scrollToEnd.emit($event)"
    (outsideClick)="close()"
    [class.ng-select-multiple]="multiple"
    [ngClass]="classes"
    [id]="dropdownId">

    <ng-container>
        <div class="ng-option" [attr.role]="item.children ? 'group' : 'option'" (click)="toggleItem(item)" (mouseover)="onItemHover(item)"
                *ngFor="let item of viewPortItems"
                [class.ng-option-disabled]="item.disabled"
                [class.ng-option-selected]="item.selected"
                [class.ng-optgroup]="item.children"
                [class.ng-option]="!item.children"
                [class.ng-option-child]="!!item.parent"
                [class.ng-option-marked]="item === itemsList.markedItem"
                [attr.aria-disabled]="item.disabled"
                [attr.aria-selected]="item.selected"
                [attr.id]="item?.htmlId">

            <ng-template #defaultOptionTemplate>
                <span class="ng-option-label">{{item.label}}</span>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="item.children ? (optgroupTemplate || defaultOptionTemplate) : (optionTemplate || defaultOptionTemplate)"
                [ngTemplateOutletContext]="{ item: item.value, item$:item, index: item.index, searchTerm: filterValue }">
            </ng-template>
        </div>

        <div class="ng-option" [class.ng-option-marked]="!itemsList.markedItem" (mouseover)="itemsList.unmarkItem()" role="option" (click)="selectTag()" *ngIf="showAddTag">
            <ng-template #defaultTagTemplate>
                <span><span class="ng-tag-label">{{addTagText}}</span>"{{filterValue}}"</span>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="tagTemplate || defaultTagTemplate"
                [ngTemplateOutletContext]="{ searchTerm: filterValue }">
            </ng-template>
        </div>
    </ng-container>

    <ng-container *ngIf="showNoItemsFound()">
        <ng-template #defaultNotFoundTemplate>
            <div class="ng-option ng-option-disabled">{{notFoundText}}</div>
        </ng-template>

        <ng-template
            [ngTemplateOutlet]="notFoundTemplate || defaultNotFoundTemplate"
            [ngTemplateOutletContext]="{ searchTerm: filterValue }">
        </ng-template>
    </ng-container>

    <ng-container *ngIf="showTypeToSearch()">
        <ng-template #defaultTypeToSearchTemplate>
            <div class="ng-option ng-option-disabled">{{typeToSearchText}}</div>
        </ng-template>

        <ng-template
            [ngTemplateOutlet]="typeToSearchTemplate || defaultTypeToSearchTemplate">
        </ng-template>
    </ng-container>

    <ng-container *ngIf="loading && itemsList.filteredItems.length === 0">
        <ng-template #defaultLoadingTextTemplate>
            <div class="ng-option ng-option-disabled">{{loadingText}}</div>
        </ng-template>

        <ng-template
            [ngTemplateOutlet]="loadingTextTemplate || defaultLoadingTextTemplate"
            [ngTemplateOutletContext]="{ searchTerm: filterValue }">
        </ng-template>
    </ng-container>

</ng-dropdown-panel>
