@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin wrapt-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ng-select {
    position: relative;
    display: block;
    @include box-sizing;
    div,
    input,
    span {
        @include box-sizing;
    }
    [hidden] {
        display: none;
    }
    &.searchable {
        .ng-control .ng-value-container .ng-input {
            opacity: 1;
        }
    }
    &.ng-select-opened .ng-control {
        z-index: 1001;
    }
    &.disabled {
        .ng-control {
            .ng-value-container {
                .ng-placeholder,
                .ng-value {
                    user-select: none;
                    cursor: default;
                }
            }
        }
        .ng-arrow-zone {
            cursor: default;
        }
    }
    &.filtered {
        .ng-placeholder {
            display: none;
        }
    }
    .ng-control {
        color: #333;
        cursor: default;
        display: flex;
        outline: none;
        overflow: hidden;
        position: relative;
        width: 100%;
        .ng-value-container {
            display: flex;
            flex: 1;
            .ng-input {
                opacity: 0;
                >input {
                    box-sizing: content-box;
                    background: none transparent;
                    border: 0 none;
                    box-shadow: none;
                    outline: none;
                    cursor: default;
                    width: 100%;
                    &::-ms-clear {
                        display: none;
                    }
                }
            }
        }
    }
    &.ng-single {
        &.filtered {
            .ng-control .ng-value-container .ng-value {
                visibility: hidden;
            }
        }
        .ng-control {
            .ng-value-container {
                @include wrapt-text;
                .ng-value {
                    @include wrapt-text;
                    .ng-value-icon {
                        display: none;
                    }
                }
                .ng-input {
                    position: absolute;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    &.ng-multiple {
        &.disabled {
            >.ng-control .ng-value-container .ng-value {
                .ng-value-icon {
                    display: none;
                }
            }
        }
        .ng-control {
            .ng-value-container {
                flex-wrap: wrap;
                .ng-placeholder {
                    position: absolute;
                }
                .ng-value {
                    white-space: nowrap;
                    &.disabled {
                        .ng-value-icon {
                            display: none;
                        }
                    }
                    .ng-value-icon {
                        cursor: pointer;
                    }
                }
                .ng-input {
                    flex: 1;
                    z-index: 2;
                }
                .ng-placeholder {
                    z-index: 1;
                }
            }
        }
    }
    .ng-clear-zone {
        cursor: pointer;
        position: relative;
        width: 17px;
        user-select: none;
        .ng-clear {
            display: inline-block;
            font-size: 18px;
            line-height: 1;
        }
    }
    .ng-spinner-loader {
        border-radius: 50%;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 2px solid rgba(66, 66, 66, 0.2);
        border-right: 2px solid rgba(66, 66, 66, 0.2);
        border-bottom: 2px solid rgba(66, 66, 66, 0.2);
        border-left: 2px solid #424242;
        transform: translateZ(0);
        animation: load8 0.8s infinite linear;
        &:after {
            border-radius: 50%;
            width: 17px;
            height: 17px;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
    .ng-arrow-zone {
        cursor: pointer;
        position: relative;
        text-align: center;
        user-select: none;
        .ng-arrow {
            display: inline-block;
            height: 0;
            width: 0;
            position: relative;
        }
    }
    .ng-overlay-container {
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1000;
        .ng-overlay {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            position: absolute;
            pointer-events: auto;
            z-index: 1000;
        }
    }
}
