<div (click)="searchable ? open() : toggle()" [class.ng-has-value]="hasValue" class="ng-control">
    <div class="ng-value-container">
        <div class="ng-placeholder">{{placeholder}}</div>

        <ng-container *ngIf="!multiLabelTemplate && selectedItems.length > 0">
            <div [class.disabled]="item.disabled" class="ng-value" *ngFor="let item of selectedItems">
                <ng-template #defaultLabelTemplate>
                    <span class="ng-value-icon left" (click)="unselect(item); $event.stopPropagation()" aria-hidden="true">×</span>
                    <span class="ng-value-label" [innerHTML]="item.label"></span>
                </ng-template>
    
                <ng-template
                    [ngTemplateOutlet]="labelTemplate || defaultLabelTemplate"
                    [ngTemplateOutletContext]="{ item: item.value, clear: clearItem, label: item.label }">
                </ng-template>
            </div>
        </ng-container>

        <ng-template *ngIf="multiLabelTemplate && selectedItems.length > 0"
                [ngTemplateOutlet]="multiLabelTemplate"
                [ngTemplateOutletContext]="{ items: selectedItems }">
        </ng-template>

        <div *ngIf="showFilter()" class="ng-input">
            <input #filterInput
                   type="text"
                   autocomplete="off"
                   [readOnly]="!searchable"
                   [value]="filterValue"
                   (input)="filter(filterInput.value)"
                   (focus)="onInputFocus()"
                   (blur)="onInputBlur()"
                   (change)="$event.stopPropagation()"
                   role="combobox">
        </div>
    </div>

    <div class="ng-spinner-loader" *ngIf="isLoading"></div>

    <span *ngIf="showClear()" (click)="handleClearClick($event)" class="ng-clear-zone" title="{{clearAllText}}">
        <span class="ng-clear" aria-hidden="true">×</span>
    </span>

    <span (click)="handleArrowClick($event)" class="ng-arrow-zone">
        <span class="ng-arrow"></span>
    </span>
</div>

<div class="ng-overlay-container" *ngIf="isOpen">
    <div class="ng-overlay" (click)="close()" ></div>
</div>

<ng-dropdown-panel *ngIf="isOpen"
    class="ng-dropdown-panel"
    [virtualScroll]="virtualScroll"
    [bufferAmount]="bufferAmount"
    [appendTo]="appendTo"
    [position]="dropdownPosition"
    [headerTemplate]="headerTemplate"
    [footerTemplate]="footerTemplate"
    [items]="itemsList.filteredItems"
    (update)="viewPortItems = $event"
    (positionChange)="currentDropdownPosition = $event"
    (scrollToEnd)="scrollToEnd.emit($event)"
    [ngClass]="{'multiple': multiple}">
    
    <ng-container>
        <div class="ng-option" role="option" (click)="toggleItem(item)" (mousedown)="$event.preventDefault()" (mouseover)="onItemHover(item)"
                *ngFor="let item of viewPortItems"
                [class.disabled]="item.disabled"
                [class.selected]="item.selected"
                [class.ng-optgroup]="item.hasChildren"
                [class.ng-option]="!item.hasChildren"
                [class.ng-option-child]="!!item.parent"
                [class.marked]="item === itemsList.markedItem">

            <ng-template #defaultOptionTemplate>
                <span class="ng-option-label" [innerHTML]="item.label"  [ngOptionHighlight]="filterValue"></span>
            </ng-template>

            <ng-template #defaultOptGroupTemplate>
                <span class="ng-option-label" [innerHTML]="item.label"  [ngOptionHighlight]="filterValue"></span>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="item.hasChildren ? (optgroupTemplate || defaultOptGroupTemplate) : (optionTemplate || defaultOptionTemplate)"
                [ngTemplateOutletContext]="{ item: item.value, index: item.index, searchTerm: filterValue }">
            </ng-template>
        </div>

        <div class="ng-option" [class.marked]="!itemsList.markedItem" (mouseover)="itemsList.unmarkItem()" role="option" (click)="selectTag()" *ngIf="showAddTag()">
            <span><span class="ng-tag-label">{{addTagText}}</span>"{{filterValue}}"</span>
        </div>
    </ng-container>

    <ng-container *ngIf="showNoItemsFound()">
        <ng-template #defaultNotfoundTemplate>
            <div class="ng-option disabled" [innerHTML]="notFoundText" *ngIf="showNoItemsFound()"></div>
        </ng-template>
    
        <ng-template
            [ngTemplateOutlet]="notFoundTemplate || defaultNotfoundTemplate"
            [ngTemplateOutletContext]="{ searchTerm: filterValue }">
        </ng-template>
    </ng-container>

    <ng-container *ngIf="showTypeToSearch()">
        <ng-template #defaultTypeToSearchTemplate>
            <div class="ng-option disabled" [innerHTML]="typeToSearchText"></div>
        </ng-template>
    
        <ng-template
            [ngTemplateOutlet]="typeToSearchTemplate || defaultTypeToSearchTemplate">
        </ng-template>
    </ng-container>
   
    <ng-container *ngIf="isLoading && itemsList.filteredItems.length === 0">
        <ng-template #defaultLoadingTextTemplate>
            <div class="ng-option disabled" [innerHTML]="loadingText"></div>
        </ng-template>
    
        <ng-template
            [ngTemplateOutlet]="loadingTextTemplate || defaultLoadingTextTemplate"
            [ngTemplateOutletContext]="{ searchTerm: filterValue  }">
        </ng-template>
    </ng-container>

</ng-dropdown-panel>
