@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin wrapt-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

$color-selected: #f5faff;
ng-select {
    position: relative;
    display: block;
    @include box-sizing;

    div,
    input,
    span {
        @include box-sizing;
    }

    virtual-scroll {
        display: block;
        height: auto;
        @include box-sizing;
    }

    [hidden] {
        display: none;
    }

    &.opened {
        >.ng-control {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: #fff;
            border-color: #b3b3b3 #ccc #d9d9d9;
        }
        >.ng-control .ng-arrow {
            top: -2px;
            border-color: transparent transparent #999;
            border-width: 0 5px 5px;
            &:hover {
                border-color: transparent transparent #666;
            }
        }
        .ng-menu-outer {
            visibility: visible;
        }
    }
    &.focused {
        &:not(.opened)>.ng-control {
            border-color: #007eff;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        }
    }
    &.disabled {
        pointer-events: none;
        >.ng-control {
            background-color: #f9f9f9;
        }
    }
    .ng-control {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        color: #333;
        cursor: default;
        display: flex;
        align-items: center;
        border-spacing: 0;
        border-collapse: separate;
        min-height: 36px;
        outline: none;
        overflow: hidden;
        position: relative;
        width: 100%;
        &:hover {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        }
        .ng-value-container {
            display: flex;
            flex: 1;
            align-items: center;
            padding-left: 10px;
            .ng-placeholder {
                color: #aaa;
            }
            .ng-input {
                >input {
                    min-width: 5px;
                    box-sizing: content-box;
                    background: none transparent;
                    border: 0 none;
                    box-shadow: none;
                    outline: none;
                    cursor: default;
                    width: 100%;
                }
            }
        }
    }
    &.ng-single {
        &.filtered {
            .ng-control .ng-value-container .ng-value {
                visibility: hidden;
            }
        }
        .ng-control {
            .ng-value-container {
                @include wrapt-text;
                .ng-value {
                    @include wrapt-text;
                    .ng-value-wrapper {
                        @include wrapt-text;
                        .ng-value-icon {
                            display: none;
                        }
                    }
                }
                .ng-input {
                    position: absolute;
                    left: 0;
                    padding-left: 10px;
                    padding-right: 50px;
                    width: 100%;
                }
            }
        }
    }
    &.ng-multiple {
        &.disabled {
            >.ng-control .ng-value-container .ng-value .ng-value-wrapper.default {
                background-color: #f9f9f9;
                border: 1px solid #e3e3e3;
                .ng-value-icon {
                    display: none;
                }
            }
        }
        .ng-control {
            .ng-value-container {
                padding-top: 5px;
                flex-wrap: wrap;
                padding-left: 7px;
                .ng-placeholder {
                    position: absolute;
                }
                .ng-value {
                    font-size: 0.9em;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    white-space: nowrap;
                    .ng-value-wrapper {
                        display: flex;
                        &.default {
                            &.disabled {
                                background-color: #f9f9f9;
                                border: 1px solid #e3e3e3;
                            }
                            background-color: $color-selected;
                            border-radius: 2px;
                            border: 1px solid #c2e0ff;
                            .ng-value-icon {
                                &:hover {
                                    background-color: #d8eafd;
                                }
                                &.left {
                                    border-right: 1px solid #c2e0ff;
                                }
                                &.right {
                                    border-left: 1px solid #c2e0ff;
                                }
                            }
                        }
                        &.disabled {
                            .ng-value-icon {
                                display: none;
                            }
                        }
                        .ng-value-label {
                            padding: 0 5px;
                        }
                        .ng-value-icon {
                            padding: 0 5px;
                            cursor: pointer;
                        }
                    }
                }
                .ng-input {
                    flex: 1;
                    padding-bottom: 3px;
                    padding-left: 3px;
                }
                .ng-placeholder {
                    padding-bottom: 5px;
                    padding-left: 3px;
                }
            }
        }
    }
    .ng-menu-outer {
        visibility: hidden;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top-color: #e6e6e6;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        margin-top: -1px;
        max-height: 242px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 3;
        -webkit-overflow-scrolling: touch;
    }
    .ng-menu {
        max-height: 240px;
        overflow-y: auto;
    }
    .ng-option {
        box-sizing: border-box;
        background-color: #fff;
        color: #666666;
        cursor: pointer;
        display: block;
        padding: 8px 10px;
        &:last-child {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &.selected {
            background-color: $color-selected;
            color: #333;
        }
        &.marked {
            background-color: #ebf5ff;
            color: #333;
        }
        &.disabled {
            color: #cccccc;
            cursor: default;
        }

        .ng-tag-label {
            padding-right: 5px;
            font-size: 80%;
            font-weight: 400;
        }
    }
    .ng-clear-zone {
        -webkit-animation: Select-animation-fadeIn 200ms;
        -o-animation: Select-animation-fadeIn 200ms;
        animation: Select-animation-fadeIn 200ms;
        color: #999;
        cursor: pointer;
        position: relative;
        width: 17px;
        .ng-clear {
            display: inline-block;
            font-size: 18px;
            line-height: 1;
            &:hover {
                color: #D0021B;
            }
        }
    }
    .ng-spinner-zone {
        cursor: pointer;
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 25px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .ng-arrow-zone {
        cursor: pointer;
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 25px;
        padding-right: 5px;
        .ng-arrow {
            border-color: #999 transparent transparent;
            border-style: solid;
            border-width: 5px 5px 2.5px;
            display: inline-block;
            height: 0;
            width: 0;
            position: relative;
            &:hover {
                border-top-color: #666;
            }
        }
    }
}
