<p>By default dropdown panel is rendered as child element of ng-select, but you can append dropdown to any element using
    <b>appendTo</b>.</p>
<p>If you place ng-select inside container with fixed height and hidden overflow then dropdown will not be fully
    visible.</p>

<div class="overflow-box">
    <ng-select [items]="people | async"
               bindLabel="company"
               placeholder="Select item"
               [(ngModel)]="selected">
    </ng-select>
</div>

<br>
<p>It can be fixed by appending dropdown to body or other parent element.</p>

<div class="overflow-box">
    <ng-select [items]="people | async"
               bindLabel="company"
               placeholder="Select item"
               appendTo="body"
               multiple="true"
               [closeOnSelect]="false"
               [(ngModel)]="selected2">
    </ng-select>
</div>

<br>
<div class="scrollable-box">
    <div class="overflow-box">
        <ng-select [items]="people | async"
                   bindLabel="company"
                   placeholder="Select item"
                   appendTo=".scrollable-box"
                   [(ngModel)]="selected3">
        </ng-select>
    </div>
</div>
