<layout-header [version]="version"></layout-header>
<div class="container-fluid fill">
    <div class="row flex-xl-nowrap fill">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar fill">
            <layout-sidenav></layout-sidenav>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <h1 class="bd-title">
                {{title}}
            </h1>
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</div>
