<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="title">
                Angular select component demos
                <small class="text-muted pull-right">ng-select on <a href="https://github.com/anjmao/ng-select">Github</a></small>
            </h3>

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/forms" routerLinkActive="active">Reactive forms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/filter-client" routerLinkActive="active">Filter and autocomplete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/filter-server" routerLinkActive="active">Filter <small>(server side)</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/multiselect" routerLinkActive="active">Multiselect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/bindings" routerLinkActive="active">Custom bindings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/templates" routerLinkActive="active">Custom templates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>