<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="title">
                Angular select component demos
                <small class="text-muted pull-right">ang-select on <a href="https://github.com/anjmao/ang-select">Github</a></small>
            </h3>
            <div class="card">
                <div class="card-header">Reactive forms</div>
                <div class="card-block">
                    <reactive-forms></reactive-forms>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Search in values</div>
                <div class="card-block">
                    <select-search></select-search>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Model bindings</div>
                <div class="card-block">
                    <select-bindings></select-bindings>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Custom header and options template</div>
                <div class="card-block">
                    <select-with-templates></select-with-templates>
                </div>
            </div>

        </div>
    </div>
</div>