<p>Accessibility custom multi select using <b>ng-label-tmp</b></p>

<ng-select
    [items]="githubUsers$ | async"
    [multiple]="true"
    bindLabel="login"
    bindValue="login"
    placeholder="Select items"
    [(ngModel)]="selectedUsers">
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span class="ng-value-label"><img [src]="item.avatar_url" width="20px" height="20px"> {{item.login}}</span>
        <span #removeItem role="button" tabindex="0" attr.aria-label="{{removeTranslated}} {{item.login}}" title="{{removeTranslated}} {{item.login}}" class="ng-value-icon right" (click)="clear(item)" (keydown)="triggerClick($event, removeItem)">×</span>
    </ng-template>
</ng-select>