/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "style/sidebar";
@import "style/content";

body {
    position: relative;
}

html,
body,
demo-app {
    height: 100%;
}

body {
    background-color: #fafafa;
}

nav.navbar {
    @include media-breakpoint-between(xs, sm) {
        height: auto;
    }
    height: 80px;
    z-index: 20;
    position: relative;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom: 1px solid #d4dadf;
    background-color: #FFFFFF;

    a {
        color: #242A31;
        font-family: Content-font, Roboto, sans-serif;
        font-weight: 500;
    }
}

demo-app,
layout-header,
layout-sidenav {
    display: block;
}

.fill {
    height: 100%;
}

.card {
    label {
        margin-bottom: 5px;
    }

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 4px;
}

.bd-main {
    order: 1;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.btn + .btn {
    margin-left: 5px
}

.card-body .form-group {
    margin-bottom: 0;
}


.ng-select.custom {
    .ng-select-container {
        height: 100px !important;
    }
}