$color-selected: #f5faff;
.ng-select {
    &.opened {
        >.ng-control {
            background: #fff;
            border-color: #b3b3b3 #ccc #d9d9d9;
            .ng-arrow {
                top: -2px;
                border-color: transparent transparent #999;
                border-width: 0 5px 5px;
                &:hover {
                    border-color: transparent transparent #666;
                }
            }
        }
        &.bottom {
            >.ng-control {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &.top {
            >.ng-control {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }
    &.focused {
        &:not(.opened)>.ng-control {
            border-color: #007eff;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        }
    }
    &.disabled {
        >.ng-control {
            background-color: #f9f9f9;
        }
    }
    .ng-control {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        min-height: 36px;
        align-items: center;
        &:hover {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        }
        .ng-value-container {
            align-items: center;
            padding-left: 10px;
            .ng-placeholder {
                color: #aaa;
            }
        }
    }
    &.ng-single {
        .ng-control {
            height: 36px;
            .ng-value-container {
                .ng-input {
                    left: 0;
                    padding-left: 10px;
                    padding-right: 50px;
                    top: 5px;
                }
            }
        }
    }
    &.ng-multiple {
        &.disabled {
            >.ng-control .ng-value-container .ng-value {
                background-color: #f9f9f9;
                border: 1px solid #e3e3e3;
                .ng-value-label {
                    padding: 2px 5px;
                }
            }
        }
        .ng-control {
            .ng-value-container {
                padding-left: 7px;
                padding-top: 5px;
                .ng-value {
                    font-size: 0.9em;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    background-color: $color-selected;
                    border-radius: 2px;
                    border: 1px solid #c2e0ff;
                    &.disabled {
                        background-color: #f9f9f9;
                        border: 1px solid #e3e3e3;
                    }
                    .ng-value-label {
                        padding: 2px 5px 2px 1px;
                    }
                    .ng-value-icon {
                        padding: 3px 5px;
                        &:hover {
                            background-color: #d8eafd;
                        }
                        &.left {
                            border-right: 1px solid #c2e0ff;
                        }
                        &.right {
                            border-left: 1px solid #c2e0ff;
                        }
                    }
                }
                .ng-input {
                    padding-bottom: 3px;
                    padding-left: 3px;
                }
                .ng-placeholder {
                    top: 5px;
                    padding-bottom: 5px;
                    padding-left: 3px;
                }
            }
        }
    }
    .ng-clear-zone {
        color: #999;
        .ng-clear {
            &:hover {
                color: #D0021B;
            }
        }
    }
    .ng-spinner-zone {
        padding-right: 5px;
        padding-top: 5px;
    }
    .ng-arrow-zone {
        padding-right: 5px;
        width: 25px;
        .ng-arrow {
            border-color: #999 transparent transparent;
            border-style: solid;
            border-width: 5px 5px 2.5px;
            &:hover {
                border-top-color: #666;
            }
        }
    }
    .ng-dropdown-header {
        border-bottom: 1px solid #ccc;
        padding: 5px 7px;
    }
    .ng-dropdown-footer {
        border-top: 1px solid #ccc;
        padding: 5px 7px;
    }
}

.ng-select-dropdown-outer {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    &.bottom {
        top: 100%;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-color: #e6e6e6;
        margin-top: -1px;
        .ng-select-dropdown {
            .ng-option {
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
        }
    }
    &.top {
        bottom: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-color: #e6e6e6;
        margin-bottom: -1px;
        .ng-select-dropdown {
            .ng-option {
                &:first-child {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
            }
        }
    }
    .ng-select-dropdown {
        margin-bottom: 1px;
        .ng-option {
            background-color: #fff;
            color: #666666;
            padding: 8px 10px;
            &.selected {
                background-color: $color-selected;
                .ng-option-label {
                    font-weight: 600;
                }
            }
            &.marked {
                background-color: #ebf5ff;
                color: #333;
            }
            &.selected {
                color: #333;
            }
            &.disabled {
                color: #cccccc;
            }
            .ng-tag-label {
                padding-right: 5px;
                font-size: 80%;
                font-weight: 400;
            }
        }
    }
}
