<p class="card-text">
	Most common case is showing data from backend API and with ng-select this is extremely simple since you can bind directly to observable
	when using angular <b> | async</b> pipe
</p>

<label id="labelId" for="inputId">Label for ng-select</label>
<ng-select [items]="people$ | async"
           bindLabel="name"
           labelledBy="labelId"
           labelForId="inputId"
           autofocus
           bindValue="id"
           [(ngModel)]="selectedPersonId">
</ng-select>

<br />Selected: {{ selectedPersonId }}
