<p>Custom label option and optgroup templates</p>

<ng-select [items]="cities" groupBy="avatar" [(ngModel)]="selectedCity" bindLabel="name" bindValue="name">
    <ng-template ng-label-tmp let-item="item">
        <img height="15" width="15" [src]="item.avatar"/>
        <b>{{item.name}}</b>
    </ng-template>
    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
        City group logo <img height="15" width="15" [src]="item.avatar"/>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <b [ngOptionHighlight]="search">{{item.name}}</b>
    </ng-template>
</ng-select>
